{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-offset-2 col-md-offset-1 col-md-10 col-lg-8 blanc corps_page">
      <h1 class="gros_titre">Profil</h1>
      <div class="infos_profil">
        Prénom : {{ infos['first_name'] }}<br>
        Nom : {{ infos['last_name'] }}<br>
        Email : <a href="mailto:{{ infos['email'] }}">{{ infos['email'] }}</a><br>
        Sigle : {{ infos['sigle'] }}<br>
      </div>
      
      <div class="changePW">
        <h1 class="gros_titre mod_pw_title">Modifier le mot de passe</h1>
              
         {% if combination == 2 %}
              <div class="error">Mot de passe actuel erroné</div>
        {%endif%}
        
        {% if combination == 3 %}
              <div class="error">La confirmation du nouveau mot de passe a échoué</div>
        {%endif%}
        
        {% if combination == 1 %}
              <div class="success">Le mot de passe a bien été modifié</div>
        {%endif%}
        
          {{ wtf.quick_form(form) }}
        {% if combination > 0 %}
            </div>
        {%endif%}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='profil.js') }}"></script>
{% endblock %}