<div class="hidden">
    <div id="row_infos">
        {% for row in range(timeslots|length) %}
            <div id="row_{{row}}">{{timeslots[row].start_time}} {{timeslots[row].end_time}}</div>
        {% endfor %}
    </div>
    <div id="column_infos">
        {% for column in range(days|length) %}
            <div id="column_{{column}}">{{days[column].name}}</div>
        {% endfor %}
    </div>
</div>

<table class="table table-bordered room-timetable">
    <thead class="thead-default">
        <tr>
            <td>Heure</td>
        {% for day in days %}
            <td class="timetable-cell">{{ day.name }}</td>
        {% endfor %}
    </thead>
    <tbody>
    {% for row in range(timeslots|length) %}
    <tr>
        <td class="timeslot-time">
            {% set ts = timeslots[row] %}
            {{ ts.start_time }} <br>
            {{ ts.end_time }}
        </td>
        {% for column in range(days|length) %}
            {% set day = days[column] %}
            {% set cell = timetable[ts.order|int][day.id - 1] %}
            {% if cell %}
            <td class="reserved reserved_by_{{cell['owner_role']}}" data-toggle="modal" data-target="#myModal" 
            onclick="display_infos_modal('row{{row}}_column{{column}}')" id="row{{row}}_column{{column}}">
                <div class="detailed_infos hidden">
                    <span class="reservation_id">{{cell['res_id']}}</span>
                    <span class="day_id">{{column}}</span>
                    <span class="start_date">{{cell['start_date']}}</span>
                    <span class="end_date">{{cell['end_date']}}</span>
                    <span class="room">{{cell['room_number']}}</span>
                    <span class="start_time">{{timeslots[row].start_time}}</span>
                    <span class="end_time">{{timeslots[row].end_time}}</span>
                    <span class="reason_short">{{cell['reason']}}</span>
                    <span class="student_group">{{cell['student_group']}}</span>
                    <span class="reason_details">{{cell['reason_details']}}</span>
                    <span class="teachers">{{cell['users']}}</span>
                </div>
            {% else %}
            <td class="empty" data-toggle="modal" data-target="#myModal" 
            onclick="display_new_res_modal('row{{row}}_column{{column}}')" id="row{{row}}_column{{column}}">
            {% endif %}
            <div class="timetable cell-info reason-short">
                {{ cell['reason'] }}
            </div>
            <div class="timetable cell-info users">
                {{ cell['users'] }}
            </div>
            <div class="timetable cell-info student-group">
                {{ cell['student_group'] }}
            </div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %} 
    </tbody>
</table>