*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# SQLite databases
*.sqlite

# Virtual environment
venv
devenv
ubuntu

# Database files
data-dev-ddl.sql
erd_from_sqlite.pdf
data-dev.sqlite
edt.csv

# Backups data
backup/data/*.sqlite

account_password.csv

data/src
data/*.csv
data/*.sql

*.log
*xlsx
*bak

# schemas
erd.png
rel.*
schema.*

.vscode

tags

# secret env files
*.secret.env


*host.env
*backup.env
backup/*.sql

# Fichiers bidons
*~

csud-reservation