.table-striped {
    background-color: rgb(247,247,247);
}

.table-striped>tbody>:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: white
 }
.disabled_res {
    color: grey;
}