{% set rooms_types = [
  ['ALL','Toutes les salles'],
  ['INF','Informatique'],
  ['BIO','Biologie'],
  ['BIL','Biologie labo'],
  ['CHI','Chimie'],
  ['CHL','Chimie labo'],
  ['PHY','Physique'],
  ['PHL','Physique labo'],
  ['MUS','Musique'],
  ['ARV','Arts visuels'],
  ['GEO','Géographie'],
  ['VDO','Vidéo']
] %}

{% extends "base.html" %}

{% block title %}Horaire des salles{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-offset-2 col-md-offset-1 col-md-10 col-lg-8 blanc espace_dessous">
            <form class="form-horizontal marges">
              <div class="row">
                <div class="form-group">
                  <div class="col-sm-2">
                    <span class="btn btn-default nav_week previous_week desktop"
                    onclick="change_week(true);">Semaine précédente</span>
                  </div>
                  <div class="col-sm-8">
                    <h1 class="gros_titre" id="titre">Horaire</h1>
                  </div>
                  <div class="col-sm-2">
                    <span class="pull-right btn btn-default nav_week following_week desktop"
                    onclick="change_week(false);">Semaine suivante</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <div class="ajustement_sm">
                    <label class="col-sm-1 control-label">Date</label>
                    <div class="col-sm-4">
                      <input type="text" id="weekly_datepicker" class="form-control today">
                    </div>
                  </div>
                  <div class="ajustement_sm">
                    <label class="col-sm-1 control-label">Salle</label>
                    <div class="col-sm-3">
                      <select class="form-control" id="rooms_type">
                        {% for room_type in rooms_types %}
                          <option value={{ room_type[0] }}>{{ room_type[1] }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <label class="control-label">Numéro</label>
                  </div>
                  <div class="col-sm-2">
                    <select class="form-control" id="rooms_numbers_hidden">
                      {% for room in rooms %}
                        <option class="rooms_choice_hidden" value="{{ room.name }}">{{ room.name }}</option>
                      {% endfor %}
                    </select>
                    <select class="form-control" id="rooms_numbers">
                      {% for room in rooms %}
                        <option class="rooms_choice" value="{{ room.name }}">{{ room.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-xs-6">
                    <span class="btn btn-default nav_week previous_week mobile"
                      onclick="change_week(true);">Semaine précédente</span>
                  </div>
                  <div class="col-xs-6">
                    <span class="btn btn-default nav_week following_week pull-right mobile"
                      onclick="change_week(false);">Semaine suivante</span>
                  </div>
                </div>
              </div>
              <!-- le formulaire invisible est créé en jQuery -->
              <div id="invisible_form">
                <div id="input_invisible_base"></div>
              </div>
              <div class="form-group">
                <!--<input value="Rechercher horaire" class="pull-right btn btn-primary btn_recherche_horaires"
                  onclick="submit_invisible_form_timetable();">-->
              </div>
            </form>
            <div class="form-group">
            </div>
            <div id="result"></div>
        </div>
    </div>
</div>
    

{% endblock %}

{% block scripts %}
{{ super() }}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>-->
<script src="{{ url_for('static', filename='datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='search.js') }}"></script>
<script src="{{ url_for('static', filename='horaires.js') }}"></script>
{% endblock %}