{% set rooms_types = [
  ['ALL','Toutes les salles'],
  ['INF','Informatique'],
  ['BIO','Biologie'],
  ['BIL','Biologie labo'],
  ['CHI','Chimie'],
  ['CHL','Chimie labo'],
  ['PHY','Physique'],
  ['PHL','Physique labo'],
  ['MUS','Musique'],
  ['ARV','Arts visuels'],
  ['GEO','Géographie'],
  ['VDO','Vidéo']
] %}
  
{% set rooms_numbers = ['001','002','006','008','010','101 (INF)','102 (INF)',
'103','104','105','106','107','108','109','110','111','112','113','114','115',
'116 (BIO)','117 (GEO)','118 (BIL)','123 (GEO/MUS)','125 (MUS)','126 (BIL)',
'128 (BIO)','201 (ARV)','202 (INF)','203','204','205','206','207','208','209',
'210','211','212','213','214','215 (PHY)','216 (CHI)','217 (PHY)','218 (CHL)',
'225 (PHL)','227 (PHL)','228 (CHI)','230 (CHL)','301 (ARV)','302 (ARV)','303',
'304','307','308','309','310','313','314','315','316','319','320','321','R06','R11 (VDO)'] %}

{% set periods = [
['Période 1', '8h10 - 8h55'],
['Période 2', '9h00 - 9h45'],
['Pause', '9h45 - 10h05'],
['Période 3', '10h05 - 10h50'],
['Période 4', '10h55 - 11h40'],
['Période 5', '11h45 - 12h30'],
['Période 6', '12h35 - 13h20'],
['Période 7', '13h25 - 14h10'],
['Période 8', '14h15 - 15h00'],
['Période 9', '15h05 - 15h50'],
['Période 10', '15h55 - 16h40'],
['Période 11', '16h45 - 17h30'],
['Période 12', '17h35 - 18h20']
] %}

{% extends "base.html" %}

{% block title %}Horaire des salles{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-offset-2 col-md-offset-1 col-md-10 col-lg-8 blanc espace_dessous">
            <form class="form-horizontal marges">
              <div class="row">
                <div class="form-group">
                  <div class="col-sm-2">
                    <input value="Semaine précédente" class="btn btn-default nav_week previous_week"
                    onclick="change_week(true);">
                  </div>
                  <div class="col-sm-8">
                    <h1 class="gros_titre" id="titre">Horaire</h1>
                  </div>
                  <div class="col-sm-2">
                    <input value="Semaine suivante" class="pull-right btn btn-default nav_week following_week"
                    onclick="change_week(false);">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <div class="ajustement_sm">
                    <label class="col-sm-1 control-label">Date</label>
                    <div class="col-sm-4">
                      <input type="text" id="weekly_datepicker" class="form-control today">
                    </div>
                  </div>
                  <div class="ajustement_sm">
                    <label class="col-sm-1 control-label">Salle</label>
                    <div class="col-sm-3">
                      <select class="form-control" id="rooms_type">
                        {% for room_type in rooms_types %}
                          <option value={{ room_type[0] }}>{{ room_type[1] }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-1">
                    <label class="control-label">Numéro</label>
                  </div>
                  <div class="col-sm-2">
                    <select class="form-control" id="rooms_numbers_hidden">
                      {% for room_number in rooms_numbers %}
                        <option class="rooms_choice_hidden" value="{{ room_number }}">{{ room_number }}</option>
                      {% endfor %}
                    </select>
                    <select class="form-control" id="rooms_numbers">
                      {% for room_number in rooms_numbers %}
                        <option class="rooms_choice" value="{{ room_number }}">{{ room_number }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <!-- le formulaire invisible est créé en jQuery -->
              <div id="invisible_form">
                <div id="input_invisible_base"></div>
              </div>
              <div class="form-group">
                <!--<input value="Rechercher horaire" class="pull-right btn btn-primary btn_recherche_horaires"
                  onclick="submit_invisible_form_timetable();">-->
              </div>
            </form>
            <div class="form-group">
            </div>
            <div id="result"></div>
        </div>
    </div>
</div>
    

{% endblock %}

{% block scripts %}
{{ super() }}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>-->
<script src="{{ url_for('static', filename='datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='search.js') }}"></script>
<script src="{{ url_for('static', filename='horaires.js') }}"></script>
{% endblock %}