{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-offset-2 col-md-offset-1 col-md-10 col-lg-8 blanc espace_dessous">
      <h1 class="gros_titre">Profil</h1>
      <div class="infos_profil">
        Prénom : {{ infos['first_name'] }}<br>
        Nom : {{ infos['last_name'] }}<br>
        Email : <a href="mailto:{{ infos['email'] }}">{{ infos['email'] }}</a><br>
        Sigle : {{ infos['sigle'] }}<br>
      </div>
      
      <div class="changePW">
        <p>Modifier le mot de passe</p>
        
         {% if combination == 2 %}
            <div class="has-error">
              <p>Mot de passe actuel erroné</p>
        {%endif%}
        
        {% if combination == 3 %}
            <div class="has-error">
              <p>La confirmation du nouveau mot de passe a échouée</p>
        {%endif%}
        
        {% if combination == 1 %}
            <div class="has-success">
              <p>Le mot de passe a été modifié avec succès :)</p>
        {%endif%}
        
          {{ wtf.quick_form(form) }}
        {% if combination > 0 %}
            </div>
        {%endif%}
      </div>
    </div>
  </div>
</div>
{% endblock %}